.venv/

__pycache__/

api_keys

ofarres/__pycache__/
ofarres/.env

new_ofarres/__pycache__/
new_ofarres/.env
new_ofarres/data/raw_notes/*
new_ofarres/data/processed/medical_notes.json
new_ofarres/test/samples/validation_test.json